<?xml version="1.0"?>
<configuration>
  <dataConfiguration defaultDatabase="ApplicationServices" />
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=INSIPC171-PC\SQLEXPRESS;database=V3.3;uid=sa;pwd=insoft;"
      providerName="System.Data.SqlClient"/>-->
    <add name="ApplicationServices" connectionString="data source=INSIPC199\SQLEXPRESS;database=PMS;uid=sa;pwd=insoftindia;"
   providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="LogFiles" value="PMS_Log/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
